<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="viewform.css" rel="stylesheet" type="text/css" media="screen, projection">
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Build MySQL Connection and post a Query</h2>
        <div>
            <form class="index-border" action="/viewform.html">
                <button type="submit">Click Me</button>
            </form>
        </div>
    </div>
</body>
</html>