<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="viewform.css" rel="stylesheet" type="text/css" media="screen, projection">
    <title>Form</title>
  </head>
  <body>
    <form action="/statusform.html">
      <h1>Post Your Data</h1>
      <div class="formcontainer">
      <hr/>
      <div class="container">
        <label for="uname"><strong>Username</strong></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="mbl"><strong>Mobile Number</strong></label>
        <input type="text" placeholder="Enter Mobile Number" name="mbl" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
